# too many silly applications cause
# untracked files list to be super long
/*
!.gitignore

# let's explicitly add files we care about

# we don't want to accidentally add keys here
!ssh/config
!ssh/*.pub

# standard files
!aliases
!aliases.zsh
!git_aliases
!environmenbt
!env.d/
!mimeapps.list
!projects.list

# applications
!bat/
!kitty/
!mpv/
!nvim/
!tmux
!zsh/

# window manager
!wofi/
!waybar/
!sway/
!xdg-desktop-portal/
!xdg-desktop-portal-wlr/

# not super compliant
!obs-studio/basic/  # keeps profiler and logs in config :(
!gh/config.yml  # there's a hosts.yml file with oauth tokens!

